.adress {
    color:white;
  font-style: normal;
  padding: 0;
  text-align: center;
  display: block;
 
 



  &-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $primary-text-colour;
  }
  &-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }

}
.adress .item:not(:last-child) {
  margin-bottom: 16px; 
  
 }
 .adress .item {
  list-style: none;
  padding: 0;
 }