.adress {
    color:white;
  font-style: normal;
  padding: 0;
  text-align: center;
  display: block;
  @media screen and (min-width: 768px) {
 margin-left: 84px;
 text-align: left;}
 @media screen and (min-width: 1200px) {
  display: flex;
  margin-left: auto; }



  &-envelope {
    width: 16px;
    height: 11px;
    margin-right: 10px;
    fill: $primary-text-colour;
    @media screen and (min-width: 768px) {
      width: 14px;
      height: 10px;
      margin-right: 8px; 
    }
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px; 
    }

    }
  &-phone {
    width: 10px;
    height: 15px;
    margin-right: 10px;
    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
      margin-right: 8px; 
      }
      @media screen and (min-width: 1200px) {
     width: 10px;
     height: 16px; 
      }
    }
}  
.adress .item:not(:last-child) {
  margin-bottom: 0px;
  @media screen and (max-width: 767px){
  margin-bottom: 16px; 
  }
}
.adress .item:last-child {
  @media screen and (min-width: 1200px) {
   margin-left: 30px; 
  }
}
   

 .adress .item {
  list-style: none;
  padding: 0;
 }