.example {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  position: relative;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 480px) {
  .section-example {
    padding-bottom: 94px;
    display: none;
  } 
}
.section-example {
  padding-bottom: 94px;
}

.name-example {
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  position: absolute;
  width: 100%;
  bottom: 0;

  .list-title {
    color: #ffffff;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
  }
}
.list-example {
  display: flex;
  flex-wrap: wrap;
}
