.list-feature {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}
.section-feature {
  padding-bottom: 94px;
  padding-top: 94px;

  .list-title {
    color: $title-text-colour;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 30px;
  }
}
.feature-icon {
  width: 70px;
  height: 70px;
}
.bkg-feature-icon {
  background-color: $background-buton;
  height: 120px;
  padding: 25px 100px;
}
