.footer {
  background-color: $background-footer-hero;
  padding-top: 60px;
  padding-bottom: 60px;
  

  .adress {
    display: block;
    align-items: center;}
  

  .container {
    
  
  @media screen and (min-width: 1200px) {
  display: flex;}
  }

}
.container-adress {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 50%;
}
@media screen and (min-width: 1200px) {
  width: 231px;
}
}
footer .logo {
  color: #ffffff;
  font-family: $FontLogo;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
.container-social-list {
  width: 206px;
  height: 80px;
  margin: 60px auto;

   @media screen and (min-width: 768px){
     .list-title {
       text-align: center;
     }
   width: 50%; 
   margin-top: 5px;
   margin-bottom: 102px;
  }
  @media screen and (min-width: 1200px) {
    width: 206px;
    height: 80px;
    margin-left: 70px;
    margin-top: 12px;
}
}

.adress-social-list {

  @media screen and (min-width: 768px) {
   display: flex; 
  }
}


.footer .social-list {
  display: flex;
  width: 206px;
  height: 44px;
  text-align: center;
  justify-content: space-between;
  margin: 0px auto;
  list-style: none;
  padding-left: 0;

@media screen and (min-width: 1200px) {
  margin-left: 32px; 
  margin-right: 32px; 
}
}

