.hero {
  
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {

    @media screen and (max-width: 767px){
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../index_images/Hero/Hero-mob@2x.jpg);}

    @media screen and (min-width: 768px){
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../index_images/Hero/Hero-tab@2x.jpg);}

         @media screen and (min-width: 1200px) {
           height: 600px;
          background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../index_images/Hero/Hero-desk@2x.jpg); }
    
  }
  
    @media screen and (max-width: 767px){
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../index_images/Hero/Hero-mob.jpg);}

    @media screen and (min-width: 768px){
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
      url(../index_images/Hero/Hero-tab.jpg); 
         }
         @media screen and (min-width: 1200px) {
           height: 600px;
          background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../index_images/Hero/Hero-desk.jpg); 
         }
  max-width: 1600px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;

  &-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
    line-height: 1.36;
    }
  }
  &-button {
    border-radius: 4px;
    padding: 10px 32px;
    border-width: 0;
    color: #ffffff;
    background-color: $accent-colour;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    font-family: inherit;
  }
}
