.accent-logo {
    color: $accent-colour;
  }
  
  .logo {
    color: #000000;
    font-family: $FontLogo;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }
  @media screen and (max-width: 1200px) {
    logo {
    font-size: 24px;
    line-height: 1.17;
    }
  }
  footer .logo {
    color: #ffffff;
    font-family: $FontLogo;
    padding-bottom: 20px;
    display: block;
  }