
.section-team .social-list {
  display: flex;
  width: 206px;
  height: 44px;
  text-align: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  // margin-left: 32px; - desktop
  // margin-right: 32px; -desktop
  list-style: none;
  padding-left: 0;
}
.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $background-header;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-colour;
  }
  &:hover .social-icon {
    fill: white;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer .social-icon {
  fill: white;
}
