.body {
  color: $primary-text-colour;
  font-family: $FontMain;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}



.container {
   @media screen and (min-width: 480px) {width: 480px;}
  
 
   @media screen and (min-width: 768px) {width: 768px;}
 
   
  @media screen and (min-width: 1200px) {width: 1200px;
       
  }
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
  
}


p {
  margin-top: 0;
  margin-bottom: 0;
}
.nav {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}



.menu {
  position: relative;
  @media screen and (min-width: 768px){
    
    display: flex;
    align-items: center;
    // justify-content: center;
}
}

.container-social-list .list-title,
.container-subscribe .list-title {
  color: $footer-text-colour;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 20px;
}
// .container-social-list .social-list {
//   margin: 0;
// }
// .picture {
//   display: flex;
//   max-width: 100%;
//   height: auto;
// }
img {
  display: block;
  width: 100%;
  height: auto;
  }
