.body {
  color: $primary-text-colour;
  font-family: $FontMain;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-title {
  color: $title-text-colour;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

.container {
  @media screen and (min-width: 480px) {width: 480px;
    padding-top: 16px;    
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {width: 768px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
   
  @media screen and (min-width: 1200px) {width: 1200px;
    padding-top: 24px;
    padding-bottom: 24px;
    
  }
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;

  
}


p {
  margin-top: 0;
  margin-bottom: 0;
}
.nav {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .item {
//   // @include centeredflex(inline-flex);
// }

.menu {
  position: relative;
}

.container-social-list .list-title,
.container-subscribe .list-title {
  color: $footer-text-colour;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}
.container-social-list .social-list {
  margin: 0;
}
.picture {
  display: flex;
  max-width: 100%;
  height: auto;
}
