$primary-text-colour: #757575;
$title-text-colour: #212121;
$accent-colour: #2196f3;
$footer-text-colour: #ffffff;
$background-buton: #f5f4fa;
$sec-background-color: #f5f4fa;
$background-header: #ffffff;
$background-footer-hero: #2f303a;
$FontMain: "Roboto", sans-serif;
$FontLogo: "Raleway", sans-serif;
// $mobile: 480px;
// $tablet: 768px;
// $desctop: 1200px;
